@media screen and (max-width:1400px) {
  body main .container .card{
    width: 500px;
  }
}
@media screen and (max-width:1200px) {
  body main .container .card{
    width: 400px;
  }
}
@media screen and (max-width:1000px) {
  body main .container .card{
    width: 600px;
  }
}
