@import "./modules/config";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
    background-color: $primary-color !important;
    font-family: 'Fira Code', monospace;
    header{
        background-color: $tertiary-color;
        color:$secondary-color;
        height: 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        span{
            font-size: 20px;
        }
        .logo{
            max-width: 30px;
        }
    }
    main{
        color:$secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-weight: bold;
            text-align: center;
        }
        h2{
            text-align: center;
        }
        .container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        button{
            background-color: $tertiary-color;
            color:$secondary-color;
            border-radius:20px;
            font-size:15px;
        }
    }
    footer{
        background-color: $tertiary-color;
        color:$secondary-color;
        height:40px;
        display:flex;
        justify-content:space-between;
        align-items: center;
        span{
            font-size: 15px;
            text-align: center;
        }
        div{
            display: flex;
            justify-content : center;
            gap:10px;
        }
        .iconLink{
            max-width: 20px;
        }
    }
}